body {
    text-align: center;
    font-family: 'Delius';

}
.container{
    margin: 1vw;
    display: flex;
    flex-direction: column;
}

.static {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;

}


p {
    text-align: justify;
    padding-left: 20px;
}

#history {
    line-height: 3vh;
}

#population {
    line-height: 4vh;
}

#culture{
    line-height: 4vh;
}
#history, #population, #culture {
    padding: 2vh;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.055);
    box-shadow: 1px 1px 10px;
    
    border-radius: 1vw;
}
h2 {
    margin-top: 3vw;
    font-family: 'sparkystones';
    font-weight: normal;
}

img{
    width: 100%;
    height: 100%;
}

.map{
    object-fit: fill;
    width: 40vw;
    height: 60vh;
    border: 1px solid black;
    border-radius: 1vw;
    overflow: hidden;
}

.static .map{
    width: 100%;
}