body {
    font-family: 'Delius';
}



main {
    padding: 1rem 2rem;
}

section {
    background: aliceblue;
}

.container{
    display: flex;
    flex-direction: row;
}

section{
    border-radius: 1vw;
    box-shadow: 1px 1px 5px;
    padding: 1vh;
    margin: 2vh;
}

section h2{
    margin: 0.5vh;
}