body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}



main {
    padding: 1rem 2rem;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
}


.container{
    display: flex;
    flex-direction: row;
}